
{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
    <div class="card">
        <div class="post">
            <h2 style id = "box"><a id = "box" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p id = "box">{{ post.description|linebreaksbr }}</p>
            <div class="date">
                <p id = "box">Published: {{ post.published_date }}</p>
            </div>
            <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-info"> Read more </a>
        </div>
    </div>  
    {% endfor %}
{% endblock %}
